# 不追蹤 Unix 可執行檔（無副檔名的檔案，GNU Make 的 Makefile 是例外）與可執行檔常見副檔名的檔案
*
!Makefile
!*.*
*.exe
*.executable
a.out

# GDBM 資料庫檔案
*.dbm

# 不追蹤目標程式碼檔案
*.o
*.obj
*.object_code

# 不追蹤隱藏檔
.*

# 追蹤 Git ignore 規則
!.gitignore
